:root {
    --bgColor: rgb(255, 255, 255);
}

.cont_sidebar {
    width: 100%;
    max-width: 200px;
    height: 100vh;
    background-color: var(--bgColor);
    transition: 0.3s ease-out;
}

.cont_logo{
    width: 100%;
    height: 100px;
    background-color: inherit;    
    display: flex;
    align-items: center;
    padding-left: 20px;
}


.name_logo{
    
    margin-left: 90px;
    font-size: 2em;
    font-weight: 600;
    color: rgb(131, 128, 128);
}

.line{
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #00A3FF;
}

.open_sidebar{
    display: none;
}

.close_sidebar{    
    font-size: 1.5em;    
    color: rgb(112, 108, 108);
    cursor: pointer;
    background-color: inherit;
}

.p_dashboard{
    padding-top: 5px;
    padding-left: 10px;
    font-size: 0.5em;
}

.title_dashboard{
    height: 50px;
    display: flex;
    align-items: center;
    
}

.cont_list_sidebar{
    padding-top: 20px;
    padding-left: 15px;
}

.sidebar_li{
    background-color: inherit;    
    list-style: none;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 1em;
    color: rgb(187, 180, 180);    
}

.sidebar_li:hover{
    color: rgb(105, 103, 103); 
}

a{
    text-decoration: none;
    background-color: inherit;
    font-weight: 500;    
    padding-left: 10px;
    color: rgb(131, 128, 128);   
}

.links{
    background-color: inherit;
    transition: 0.3s ease-out; 
}

.small{
    width: 70px;
}

.hidden{
    display: none;
}


.show_icon_sideBar{
    display: inherit;
    font-size: 1.5em;    
    color: rgb(112, 108, 108);
    cursor: pointer;
    background-color: inherit;
}

.resize_icon{
    font-size: 30px;
    cursor: pointer;
}

.resize_icon:hover{
    color: rgb(105, 103, 103); 
}

@media (min-width:600px) {
    .cont_sidebar{
        position: inherit;
    }

    .p_dashboard{
        padding-top: 5px;
        padding-left: 10px;
        font-size: 1.2em;
    }
    
    .title_dashboard{
        height: 50px;
        display: flex;
        align-items: center;
        
    }

    .name_logo{
    position: absolute;
    margin-top: 0;
    margin-left: 50px;
    font-size: 1.7em;
    font-weight: 600;
    color: rgb(131, 128, 128);
}
.line{
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #00A3FF;
}

@media (min-width:600px) {
    
    .name_logo{
        
        margin-left: 50px;
        font-size: 2em;
    }
}

}